body {
	font-family: sans-serif;
}

header {
	text-align: center;
	border-bottom: 2px solid;
	margin-bottom: 5%;
}

.centered-vert {
	margin: auto;
}

.content>* {
	margin-bottom: 5%;
}

.success {
    background: rgb(28, 184, 65);
	color: white;
}

.error {
	background: rgb(202, 60, 60);
	color: white;
}

.warning {
	background: rgb(223, 117, 20);
	color: white;
}

.notification-bar {
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 1em;
	padding: 0.5em;
}

.text-center {
	text-align: center;
}

table {
	font-size: 1.2em;
}


form {
	border: 1px solid;
	padding: 1%;
}

form legend {
	text-align: center;
	text-decoration: underline;
}

input[type="checkbox"] {
	margin: 10px;
}