{% extends "adminPageBase.html" %}

{% block title %}Administration{% endblock %}

{% block header %}
<h1 class="pure-u-1">Administration</h1>
{% endblock %}

{% block content %}
{% if msg != None %}
<div class="pure-g">
	{% if msgType == "success" %}
	<h3 class="pure-u-1 success notification-bar">Success: {{msg}}</h1>
	{% elif msgType == "warning" %}
	<h3 class="pure-u-1 warning notification-bar">Warning: {{msg}}</h1>
	{% elif msgType == "error" %}
	<h3 class="pure-u-1 error notification-bar">Error: {{msg}}</h1>
	{% endif %}
</div>
{% endif %}

<div class="centered-vert">
	<table class="pure-table pure-table-horizontal">
		<thead>
			<td>Account name</td>
			<td>is Admin</td>
			<td></td>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>
					<a href="/admin/user?username={{user.name | urlencode}}">{{ user.name }}</a>
				</td>
				<td>{{ "Yes" if user.isAdmin else "No" }}</td>
				<td>
					<a href="/admin?action=deluser&username={{user.name | urlencode}}">
						<button clas="pure-button warning">Delete User</button>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<form class="pure-form pure-form-stacked" action="/admin?action=adduser" method="post">
	<fieldset>
		<legend>
			<h3>Add a new user</h3>
		</legend>
		<div class="pure-g">
			<input class="pure-u-1-2 pure-u-sm-1" type="text" placeholder="name" id="nameInput" name="username" required/>
			<input class="pure-u-1-2 pure-u-sm-1" type="password" placeholder="password" id="passwordInput" name="password" minlength="8" required/>
			<label class="pure-u-1-1 pure-checkbox" for="nameInput">
				<input type="checkbox" id="isAdminInput" name="isAdmin"/>Admin
			</label>
			<button class="pure-u-1-1 pure-button pure-button-primary" type="submit">Add new User</button>
		</div>
	</fieldset>
</form>
{% endblock %}